.AddContact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.addContact-input {
  width: 320px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 10px;
  padding-left: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

#avatar-pic {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  margin: 10px 0px 10px 0px;
}

#avatar-select-button {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: transparent;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 10px 0px 10px 33px;
}

#avatar-input {
  display: none;
}

#address {
  margin-left: 52px;
}

#phone {
  margin-left: 52px;
}

.add-button {
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin: 0px 15px 0px 15px;
  background-color: rgb(138, 177, 190);
  border: 2px solid rgb(155, 155, 155);
  border-radius: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  outline: none;
}

.add-button:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(18, 112, 143);

}

#invisible-button {
  visibility: hidden;
}
